.nav {
	position: fixed;
	right: 10px;
	width: 180px;
	top: 100px;
	overflow: auto;
}

.nav ul {
	list-style: none;
	padding-left: 0;
}

.nav ul li {
	margin-bottom: 15px;
	line-height: 1.4;
}

.head3 {
	margin-left: 10px;
	list-style-type: circle;
}
.head4 {
	margin-left: 20px;
	list-style-type: square;
}
