.MapOffice {
	position: relative;
	overflow: hidden;
	height: calc(100vh - 80px);
	width: calc(100vw - 180px);
}

.Img {
	display: block;
	position: relative;
	max-width: none;
	width: 100%;
}

.Card {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 180px;
	color: #fff;
	box-sizing: border-box;
}

.Card p {
	padding-left: 8px;
}
