.Spot {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 12px;
	cursor: pointer;
	box-sizing: border-box;
	display: flex;
	transition: background-color 0.3s ease-in-out;
	align-items: center;
	justify-content: center;
}

.Spot:hover {
	background-color: #fff;
}
