.Spot {
	position: absolute;
	border-radius: 50px;
	border: 6px solid transparent;
	width: 10px;
	height: 10px;
	cursor: pointer;
	transition: border 0.3s ease-in-out;
}

.Spot:hover {
	border: 6px solid #fff;
}
