.header {
	grid-area: header;
	display: grid;
	padding: 4px 16px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	align-items: center;
	height: 64px;
	background-color: #171717;
}

.Login {
	cursor: pointer;
	color: #cba37c;
}
