.Search {
	display: flex;
	justify-content: center;
	background-color: #1e1e1e;
	padding: 0 24px;
	cursor: text;
	transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
	border-radius: 28px;
	min-height: 48px;
}

.Search input {
	background-color: transparent;
	border-style: none;
	outline: none;
	width: 100%;
	color: #fff;
}

.SearchResults {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 64px;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	overflow-y: scroll;
	padding-top: 20px;
}

.SearchResultsContainer {
	max-width: 600px;
}

.SearchResultsItems {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.SearchResultsItems a {
	display: flex;
	flex-direction: column;
	color: #fff;
}

.SearchResultsItems a span:first-child {
	font-size: 20px;
	font-weight: bold;
}

.SearchResultsItems a span:last-child {
	font-size: 16px;
}

.SearchResultsItems a:hover {
	color: #fff;
}
